<h1>Tasks:</h1>
<ol>
  <% @all_tasks.each do | item | %><li>
      <%= link_to "#{item[:name]}", task_path(item[:id]) %></li>
      <ul>
        <li><strong>Completion Status: </strong><%= item[:completion_status] %></li>
      </ul>
  <% end %></li>
</ol>
