<h3><%= @task.title %>:</h3>
  <ul>
    <li><strong>Description: </strong><%= @task.description %></li>
    <li><strong>Completion Date: </strong><%= @task.completion_at %></li>
  </ul>

<%= link_to "click here", tasks_path %>
