<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>To Do List:</h1>
  </header>

  <%= yield %>

  <footer>
    <h4>Have a great day! :)</h4>
  </footer>
</body>
</html>
